<h1>skyFare</h1>

<p>
  This site fetching special fare data from skyFare owner & partner.
</p>

<p *ngIf="!employeeList"><em>Loading...</em></p>

<table
  class="table table-striped text-center table-bordered"
  *ngIf="employeeList"
>
  <thead class="thead-dark">
    <tr>
      <th>Sector</th>
      <th>Travel Date</th>
      <th>Flight</th>
      <th>Fare</th>
      <th *ngIf="appUser">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employeeList">
      <td>{{ emp.name }}</td>
      <td>{{ emp.gender }}</td>
      <td>{{ emp.department }}</td>
      <td>{{ emp.city }}</td>
      <td *ngIf="appUser">
        <a [routerLink]="['/employee/edit/', emp.employeeId]">Edit</a> |
        <a [routerLink]="[]" (click)="delete(emp.employeeId)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
